.loginForm{
    width: 450px;
    border: 1px solid lightgray;
    padding: 50px;
    border-radius: 15px;
}


.login__button{
    margin-top: 15px;
    background-color: white;
    padding: 10px 40px;
    border-radius: 5px;
    display: block;
    align-self: center;
    border: 1px solid lightgray;
}

.login__button:hover{
    background-color: blue;
    color: white;
    font-weight: bold;
}